{% extends 'MVTPrimerProyectoApp/header.html' %}
{% load static %}

{% block tituloPagina %}

{% endblock %}

{% block contenidoPagina %}
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col p-0">
        <div class="card text-start bg-light" style=" max-height:500px; height:400px;">
          <div class="col-12 col-md-5 text-md-start text-center">
            <div class="card-body ms-md-5 mt-5">
              <h1 class="card-title h3">Escuela Elusis</h1>
              <p class="card-text h1">UNA AMPLIA TRAYECTORIA FORMANDO</p>
            </div>
          </div>
          <div class="text-center mt-5 pt-5">
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="text-center mt-5">Que es el trabajo Biografico?</h1>
      <div class="col-7">
        <p class="text-center mt-3">El trabajo con la propia biografia ilumina las preguntas acerca del sentido de las
          crisis individuales, incitando a transormarlas para
          devenir de un ser humano, que las riendas de su propia vida.
        </p>
      </div>
    </div>
    <div class="row justify-content-center pb-5">
      <div class="col-12 col-md-4 mt-5">
        <p class="card-text">El trabajo biografico nacio en Europa occidental y centro Europa en los 70, no es una
          psico-terapia ni una nueva orientacion
          psicologica, el trabajo biografico se caracteriza como un encuentro con otro ser humano gracias al cual hay
          una clarificacion y comprension
          del sentido de la propia vida.
        </p>
        <p class="card-text">Lievegoed fue el padre del dicho enfoque sobre el cual dijo:-<< la biografia es una que
            cada ser humano compone>>.
        </p>
      </div>
      <div class="col-12 col-md-4 mt-5">
        <p class="card-text">Y esa sinfonia trata de ser desentrañada desde la conciencia. Con ella se hace un recorrido
          por los acontecimientos vividos a lo largo
          de una vida, recordando y tratando de encontrar el leitmotiv o el hilo conductor de la vida a traves de la
          comprension de los distintos sucesos,
          experiencias, personas con las que nos hemos relacionado: El trabajo biografico se basa en el trabajo del Yo
          hacia el futuro.
        </p>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="card text-center text-white bg-primary">
    <div class="card-body row d-flex justify-content-center m-0 p-0" style="height:200px;">
      <div class="col-12 col-md-7">
        <h1 class="card-title h1 mt-3">LA ESCUELA PARTICIPA DEL FORUM INTERNACIONAL DE ESCUELAS BIOGRAFICAS
          ANTROPOSOFICAS</h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container">
    <div class="row justify-content-around align-items-center pb-5">
      <div class="col-12 col-md-4 mt-5">
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum doloribus voluptas repellat
          facere, ea iste quo pariatur assumenda, eum temporibus veniam exercitationem! Ullam suscipit cupiditate
          corrupti vero earum dolores asperiores.
        </p>
        <div class="text-center mt-5">
          <a href=""><i class="h1 fa-solid fa-file-arrow-down"></i></a>
          <p>MAS INFOMACION</p>
        </div>

      </div>
      <div class="col-12 col-md-4 mt-5">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top "
          alt="Los Angeles Skyscrapers" />
      </div>
    </div>
  </div>
</section>


{% endblock %}