{% extends 'MVTPrimerProyectoApp/header.html' %}
{% load static %}

{% block tituloPagina %}

{% endblock %}

{% block contenidoPagina %}
<section>
  <div class="card text-start text-white fondoArmador">
    <div class="card-body" style="height:500px;">
      <div class="col-5">
        <h1 class="card-title h5 mt-3">ESCUELA ELEUSIS</h1>
        <h2 class="card-text mt-4">FORMACION EN CONSULTORIA BIOGRAFICA ANTROPOSOFICA</h2>
      </div>
      <div class="text-end col-9 mt-5">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card-footer bg-primary text-center row d-flex justify-content-center p-0 m-0" style="max-height:300px;">
      <div class="col-6 mt-4">
        <h1 class="text-white">El trabajo biografico integra dos procesos, el del desarrollo individual y el desarrollo
          social</h1>
        <a href="#" class="btn btn-secondary mt-4 mb-5">Go somewhere</a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
      <div class="row d-flex justify-content-around">
          <div class="col">
            <h1 class="card-title text-center mt-4 mb-4">CURSOS, SEMINARIOS y WORKSHOPS</h1>
            <div class="d-flex justify-content-around row row-cols-1 row-cols-md-3 g-3">
              <div class="col-3">
                <div class="card h-100">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card h-100">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road"/>
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a short card.</p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card h-100">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top" alt="Los Angeles Skyscrapers"/>
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  </div>
                </div>
              </div>
             
            </div>
            <div class="col text-center">
              <a href="#" class="btn btn-secondary mt-4 mb-5">Go somewhere</a>
            </div>
            
            
          </div>
      </div>
  </div>
</section>

<section>
  <div class="card text-start text-white fondoArmador">
    <div class="card-body d-flex mt-3">
      <div class="col-4">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img" alt="Hollywood Sign on The Hill"/>
      </div>
      <div class="col-6 ms-5 text-center">
        <h1 class="card-title h5 mt-3">ESCUELA ELEUSIS</h1>
        <h2 class="card-text mt-4">FORMACION EN CONSULTORIA BIOGRAFICA ANTROPOSOFICA</h2>
        <a href="#" class="btn btn-primary mt-5">Go somewhere</a>
      </div>
    </div>
    </div>
  </div>
</section>

<section id="contacto" class="bg-contacto">
  <div class="container">
      <div class="row d-flex justify-content-around align-items-center">
        <h1 class="card-title h2 mt-3 text-center">info@escuelaeleusis.com</h1>
          <div class="col-5 mb-5">
            <h2 class="card-title">Puedes contactarnos mediante el formulario, escribinos al mail o escribinos al whatsapp</h2>
            <h3 class="card-title h1 mt-1">+5491135253639</h3>
          </div>
          <div class="col-6 mt-3 text-center">
              <form>
                  <!-- Name input -->
                  <div class="form-outline mb-4">
                    <input type="text" id="form4Example1" class="form-control" />
                    
                  </div>
                
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="email" id="form4Example2" class="form-control" />
                    
                  </div>
                
                  <!-- Message input -->
                  <div class="form-outline mb-4">
                    <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                    <label class="form-label" for="form4Example3">Message</label>
                  </div>
                
                 
                
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4" style="width:50%;">Send</button>
                </form>
          </div>
      </div>
  </div>
</section>

{% endblock %}